<%= link_to 'Back', pins_path, class: 'btn btn-default' %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading center">
        <%= image_tag(@pin.image.url, class: 'img-responsive') %>
      </div>
      <div class="panel-body">
        <blockquote><p><%= @pin.tag %></p></blockquote>
        <p><strong><em>Pinned by <%= @pin.user.name if @pin.user %></em></strong></p>

        <% if @pin.user == current_user %>
         <%= link_to edit_pin_path(@pin), class: 'btn btn-xs btn-warning' do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
