<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>Featured Products</h1>
	</div>
	<div class="panel-body">
		<table class="table table-hover">
			<tr>
				<th>Product</th>
				<th>Description</th>
				<th>Order</th>
			</tr>
			<tr>
				<td><%= image_tag('/images/spark.jpg', class: 'img-responsive product-img') %></td>
				<td><strong>AdvoCare Spark Energy Drink Mix</strong> is a unique multi-nutrient system that was developed as a nutritional source of energy and enhanced mental focus.* It's a sugar-free drink mix that has more than 20 vitamins, minerals and nutrients that work synergistically to provide a healthy, balanced and effective source of energy that won't overburden or overstimulate your body like other energy drinks on the market. And the best part? Only 45 calories in each serving!</td>
				<td><%= link_to 'Order Now!', 'https://www.advocare.com/111112228/Store/ItemDetail.aspx?itemCode=A2912&id=E&flavor=l&size=C', class: 'btn btn-large btn-info btn-product'%></td>
			</tr>
			<tr>
				<td><%= image_tag('/images/rehydrate.jpg', class: 'img-responsive') %></td>
				<td>Unlike other sports drinks, <strong>AdvoCare Rehydrate Electrolyte Replacement Drink</strong> includes antioxidants, carbohydrates, electrolytes, a powerful patented ingredient known as <em>Sustamine™</em> and other nutrients that effectively promote optimal hydration and recovery. Rehydrate Drink has a 1:1 ratio of sodium and potassium, two of the most vital electrolytes that are lost when we sweat. Rehydrate Drink helps prevent cramping by providing calcium, magnesium and L-glutamine to support the contraction and relaxation phases of the muscles.<br><br>
				<em></small><strong>Sustamine™</strong> is a dipeptide of the amino acids, L-alanine and L-glutamine. This dipeptide enhances electrolyte and water absorption as well as promoting higher serum bioavailability and absorption of L-glutamine, compared to L-glutamine alone. It plays an important role in enhancing the immune system, muscle protein synthesis and energy production through gluconeogenesis.</small></em></td>
				<td><%= link_to 'Order Now!', 'https://www.advocare.com/111112228/Store/ItemDetail.aspx?itemCode=A2414&id=E&flavor=K&size=C', class: 'btn btn-large btn-info'%></td>
			</tr>
			<tr>
				<td><%= image_tag('/images/rehydrate-gel.jpg', class: 'img-responsive') %></td>
				<td>Unlike other Gel Products, <strong>AdvoCare Rehydrate Electrolyte Replacement Gel</strong> includes antioxidants, carbohydrates, electrolytes, a powerful patented ingredient known as <em>Sustamine™</em> and other nutrients that effectively promote optimal hydration and recovery. Rehydrate Drink has a 1:1 ratio of sodium and potassium, two of the most vital electrolytes that are lost when we sweat. Rehydrate Drink helps prevent cramping by providing calcium, magnesium and L-glutamine to support the contraction and relaxation phases of the muscles.<br><br>
				<em></small><strong>Sustamine™</strong> is a dipeptide of the amino acids, L-alanine and L-glutamine. This dipeptide enhances electrolyte and water absorption as well as promoting higher serum bioavailability and absorption of L-glutamine, compared to L-glutamine alone. It plays an important role in enhancing the immune system, muscle protein synthesis and energy production through gluconeogenesis.</small></em></td>
				<td><%= link_to 'Order Now!', 'https://www.advocare.com/111112228/Store/ItemDetail.aspx?itemCode=A1403&id=E', class: 'btn btn-large btn-info'%></td>
			</tr>
			<tr>
				<td><%= image_tag('/images/o2gold.jpg', class: 'img-responsive') %></td>
				<td>With its unparalleled formulation, <strong>O2 Gold</strong> is an excellent solution for greater energy, endurance and vitality whether you're a marathon runner, a busy parent or both. Serious athletes will notice the differences that O2 Gold supplement brings to their regimen, and casual users will notice the refreshing lift to their energy and liveliness. Most importantly, O2 Gold supplement helps you maximize oxygen usage in your body so that you can feel better and perform better.</td>
				<td><%= link_to 'Order Now!', 'https://www.advocare.com/111112228/Store/ItemDetail.aspx?itemCode=P3502&id=B', class: 'btn btn-large btn-info'%></td>
			</tr>

		</table>
	</div>
</div>