<h1>Listing posts</h1>

<table class='table table-hover table-responsive'>
  <thead>
    <tr>
      <th><h3>Image</h3></th>
      <th><h3>Title</h3></th>
      <th><h3>Description</h3></th>
      <th><h3>User ID</h3></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.image.url, class: 'thumbIMG' %></td>
        <td><strong><%= post.title %></strong></td>
        <td><%= post.description %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.user == current_user %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
