<%= link_to 'Back', posts_path %>


<div class='row'>
	<div class='col-md-offset-2 col-md-8'>
		<div class='panel panel-primary'>
			<div class='panel-heading center'>
				<%= image_tag @post.image.url, class: 'largeIMG' %>
			</div>
			<div class='panel-body'>

				<p>
					<strong><h3><%= @post.title %></h3></strong>
					<p><strong><%= @post.user.name if @post.user %></strong></p>
				  	<p><%= @post.description %></p>
				  	<p><%= @post.category %></p>
				  	<br>
				  
				</p>
				<% if current_user.try(:admin?) %>
					<%= link_to 'Edit', edit_post_path(@post) %>
				<% end %>
			</div>
		</div>
	</div>
</div>
