<%= image_tag @post.image.url, class: 'mediumIMG' %>

<p>
	<strong><h3>Title:</h3>
  <%= @post.title %></strong>
  <br>
  <strong><h3>Description:</h3></strong>
  <%= @post.description %>
  <br>
  
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
